<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4" style="width: 800px;">
    <h5 class="text-center mb-4">Registro Empleado</h5>
    <form [formGroup]="formChoferes" (ngSubmit)="ejecutar()" (reset)="limpiar()" class="row">

      <div class="col-md-6">
        <h5 class="text-center">Datos Empleado</h5>

        <div class="form-group">
          <label for="DNI">DNI:</label>
          <input type="number" class="form-control" id="DNI" formControlName="EmpDni">
          <span *ngIf="!validaDni()" class="text-danger">(*) Solo 8 números</span>
        </div>

        <div class="form-group">
          <label for="Nombres">Nombres:</label>
          <input type="text" class="form-control" id="Nombres" formControlName="EmpNombre">
          <span *ngIf="!validaNombre()" class="text-danger">(*) Ingrese nombre válido</span>
        </div>

        <div class="form-group">
          <label for="Nombres">A. Paterno:</label>
          <input type="text" class="form-control" id="apatern" formControlName="EmpApPaterno">
          <span *ngIf="!validaApPaterno()" class="text-danger">(*) Ingrese Apellido válido</span>
        </div>

        <div class="form-group">
          <label for="Nombres">A. Materno:</label>
          <input type="text" class="form-control" id="amatern" formControlName="EmpApMaterno">
          <span *ngIf="!validaApMaterno()" class="text-danger">(*) Ingrese Apellido válido</span>
        </div>

        <div class="form-group">
          <label for="Rol">Género:</label>
          <select class="form-select" id="genero" formControlName="EmpGenero">
            <option value="" disabled selected>Seleccionar Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
          <span *ngIf="!validaGenero()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="Rol">Área:</label>
          <select class="form-select" id="area" formControlName="EmpArea">
            <option value="" disabled selected>Seleccionar Área</option>
            <option value="Producción">Producción</option>
            <option value="Ventas">Ventas</option>
            <option value="RR. HH.">RR. HH.</option>
            <option value="TI">TI</option>
            <option value="Servicio al cliente">Servicio al cliente</option>
          </select>
          <span *ngIf="!validaArea()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="fechaNacimiento">Fecha de nacimiento:</label>
          <input type="date" class="form-control" id="fechaNacimiento" formControlName="EmpFechNacimiento" />
          <span *ngIf="!validaFechaNacimiento()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="fechaIngreso">Fecha de ingreso:</label>
          <input type="date" class="form-control" id="fechaIngreso" formControlName="EmpFechIngreso" />
          <span *ngIf="!validaFechaIngreso()" class="text-danger">(*)</span>
        </div>

      </div>

      <div class="col-md-6">
        <h5 class="text-center">Datos de Contrato</h5>

        <div class="form-group">
          <label for="Rol">Modalidad de contrato:</label>
          <select class="form-select" id="modalidad" formControlName="ContrModalidad">
            <option value="" disabled selected>Seleccionar modalidad</option>
            <option value="Contrato por obra">Contrato por obra/servicio determinado</option>
            <option value="Contrato eventual por circunstancias">Contrato eventual por circunstancias</option>
            <option value="Contrato de formación">Contrato de formación y aprendizaje</option>
          </select>
          <span *ngIf="!validaModalidad()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Inicio:</label>
          <input type="date" class="form-control" id="fechaInicio" formControlName="ContrFechInicio" />
          <span *ngIf="!validaFechaInicio()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="fechaNacimiento">Fecha de Fin:</label>
          <input type="date" class="form-control" id="fechaFin" formControlName="ContrFechFin" />
          <span *ngIf="!validaFechaFin()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="Rol">Jornada de contrato:</label>
          <select class="form-select" id="jornada" formControlName="ContrJornada">
            <option value="" disabled selected>Seleccionar jornada</option>
            <option value="Jornada Parcial">Jornada Parcial</option>
            <option value="Jornada Estándar">Jornada Estándar</option>
            <option value="Jornada Extendida">Jornada Extendida</option>
          </select>
          <span *ngIf="!validaJornada()" class="text-danger">(*)</span>
        </div>

        <div class="form-group">
          <label for="DNI">Salario:</label>
          <input type="number" class="form-control" id="salario" formControlName="ContrSalario">
          <span *ngIf="!validaSalario()" class="text-danger">(*) Ingrese sueldo valido</span>
        </div>
      </div>
      <div class="text-center col-12 mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="!formChoferes.valid">Guardar</button>
        <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>

    </form>
  </div>
</div>