<!-- <p>Componente registro-choferes</p> -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4" style="width: 400px;">
    <h5 class="text-center">Registro Empleado</h5>
    <form [formGroup]="formChoferes" (ngSubmit)="ejecutar()" (reset)="limpiar()">
      <div class="form-group">
        <label for="DNI">DNI:</label>
        <input type="number" class="form-control" id="DNI" formControlName="DNI">
        <span *ngIf="!validaDNI()" class="text-danger">(*)</span>
      </div>
      <div class="form-group">
        <label for="Nombres">Nombres:</label>
        <input type="text" class="form-control" id="Nombres" formControlName="Nombres">
        <span *ngIf="!validaNombres()" class="text-danger">(*)</span>
      </div>
      <div class="form-group">
        <label for="FechaIngreso">Fecha Ingreso:</label>
        <input type="date" class="form-control" id="FechaIngreso" formControlName="FechaIngreso">
        <span *ngIf="!validaFechaIngreso()" class="text-danger">(*)</span>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!formChoferes.valid">Guardar</button>
        <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</div>