<!-- <p>Componente menu-choferes</p> -->

<div class="container">
  <h5>Lista de Empleados</h5>
  <button class="btn btn-success mb-3 float-end" [routerLink]="['/registrarChoferes']">
    <i class="bi bi-plus-circle"></i> Agregar
  </button>
  <!-- <i class="bi bi-android2"></i> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre completo</th>
        <th>Salario</th>
        <th>F. Ingreso</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arrayEmpleados of arrayEmpleados">
        <td>{{ arrayEmpleados.EmpDni }}</td>
        <td>{{ arrayEmpleados.EmpNombre}}, {{arrayEmpleados.EmpApPaterno}} {{arrayEmpleados.EmpApMaterno}}</td>
        <td>S/. {{ arrayEmpleados.contrato.ContrSalario }}</td>
        <td>{{ arrayEmpleados.EmpFechIngreso | date:"dd/MM/yyyy" }}</td>
        <td>
          <button class="btn btn-warning">
            <i class="bi bi-nut"></i>
          </button>
          <button class="btn btn-primary" [routerLink]="['/registrarChoferes']">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <!-- Aquí agregarías más filas con los datos de los usuarios -->
    </tbody>
  </table>
</div>