<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-4" style="width: 400px;">
    <h5 class="text-center">Registro de usuarios</h5>

    <form [formGroup]="formUsuarios" (ngSubmit)="ejecutar()" (reset)="limpiar()">
      <div class="form-group">
        <label for="Nombres">Nombre:</label>
        <input type="text" class="form-control" id="Nombres" formControlName="UsuNombreUsuario">
        <span *ngIf="!validaNombres()" class="text-danger">(*) Ingrese nombre valido</span>
      </div>
      <div class="form-group">
        <label for="Usuario">Correo:</label>
        <input type="text" class="form-control" id="Usuario" formControlName="UsuCorreo">
        <span *ngIf="!validaCorreo()" class="text-danger">(*) Tiene que ser correo</span>
      </div>
      <div class="form-group">
        <label for="Contrasena">Contraseña:</label>
        <input type="password" class="form-control" id="Contrasena" formControlName="UsuContrasena">
        <span *ngIf="!validaContrasena()" class="text-danger">(*) Minimo 4 caracteres</span>
      </div>
      <div class="form-group">
        <label for="Rol">Rol:</label>
        <input type="text" class="form-select" id="Rol" formControlName="UsuRol" value="Usuario Estándar" readonly>
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!formUsuarios.valid">Guardar</button>
        <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>
    </form>
  </div>
</div>