<!-- <p>Componente registro-buses</p> -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="width: 400px;">
      <p class="text-center">Componente registro-buses</p>
      <form [formGroup]="formBuses" (ngSubmit)="ejecutar()" (reset)="limpiar()">
        <div class="form-group">
          <label for="Placa">Placa:</label>
          <input type="text" class="form-control" id="Placa" formControlName="Placa">
          <span *ngIf="!validaPlaca()" class="text-danger">(*)</span>
        </div>
        <div class="form-group">
          <label for="Modelo">Modelo:</label>
          <input type="text" class="form-control" id="Modelo" formControlName="Modelo">
          <span *ngIf="!validaModelo()" class="text-danger">(*)</span>
        </div>
        <div class="form-group">
          <label for="Marca">Marca:</label>
          <input type="text" class="form-control" id="Marca" formControlName="Marca">
          <span *ngIf="!validaMarca()" class="text-danger">(*)</span>
        </div>
        <div class="form-group">
          <label for="Asientos"># Asientos:</label>
          <input type="number" class="form-control" id="Asientos" formControlName="Asientos">
          <span *ngIf="!validaAsientos()" class="text-danger">(*)</span>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!formBuses.valid">Guardar</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  