<div class="container">
  <h5>Lista de Usuarios</h5>
  <div *ngIf="esAdmin()">
    <button class="btn btn-success mb-3 float-end" [routerLink]="['/registrarUsuarios']">
      <i class="bi bi-plus-circle"></i> Agregar
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Correo</th>
        <th>Contraseña</th>
        <th>Rol</th>
        <th>Opcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arrayUsuarios of arrayUsuarios">
        <td>{{ arrayUsuarios.UsuNombreUsuario }}</td>
        <td>{{ arrayUsuarios.UsuCorreo }}</td>
        <td>{{ arrayUsuarios.UsuContrasena }}</td>
        <td>{{ arrayUsuarios.UsuRol }}</td>
        <td>
          <div *ngIf="arrayUsuarios.UsuRol !=='Administrador'">
            <button class="btn btn-danger">
              <i (click)="confirmarEliminarProducto(arrayUsuarios._id)" class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>