<!-- Componente menu-usuarios -->
<div class="container">
  <h5>Lista de Usuarios</h5>
  <button class="btn btn-success mb-3 float-end" [routerLink]="['/registrarUsuarios']">
    <i class="bi bi-plus-circle"></i> Agregar
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Correo</th>
        <th>Contraseña</th>
        <th>Rol</th>
        <th>Opcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arrayUsuarios of arrayUsuarios">
        <td>{{ arrayUsuarios.UsuNombreUsuario }}</td>
        <td>{{ arrayUsuarios.UsuCorreo }}</td>
        <td>{{ arrayUsuarios.UsuContrasena }}</td>
        <td>{{ obtenerRol(arrayUsuarios.UsuRol) }}</td>
        <td>
          <button class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      <!-- Aquí agregarías más filas con los datos de los usuarios -->
    </tbody>
  </table>
</div>