<!-- <p>asignacion-chofer works!</p> -->
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4" style="width: 400px;">
      <h5 class="text-center">Asignar Chofer</h5>
      <form [formGroup]="formAsignacionChofer" (ngSubmit)="ejecutar()" (reset)="limpiar()">
        <div class="form-group">
          <label for="Chofer">Chofer:</label>
          <select class="form-select" id="Chofer" formControlName="Chofer">
            <option value="" disabled selected>Seleccionar Chofer</option>
            <!-- Aquí puedes incluir opciones dinámicas para los choferes -->
            <option value="chofer1">Chofer 1</option>
            <option value="chofer2">Chofer 2</option>
            <option value="chofer3">Chofer 3</option>
          </select>
          <span *ngIf="!validaChofer()" class="text-danger">(*)</span>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!formAsignacionChofer.valid">Guardar</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  